.spoiler {
  padding: 24px 0 24px 24px;
  border-radius: 8px;
  transition: 0.3s;
  margin-bottom: 16px;

  &.opened {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #E0E4EF;

    .question {
      margin: 0 0 24px 0;

      &:after {
        transform: rotate(360deg);
      }
    }

  }
  .question {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    transition: margin 0.3s;
    padding-right: 48px;
    //background: url("../images/arrow.png") no-repeat center right 12px;

    &:hover {
      cursor: pointer;
    }

    &:after {
      content: '';
      width: 24px;
      height: 24px;
      background: url("../images/arrow.png") no-repeat center left;
      transform: rotate(180deg);
      transition: 0.3s;
      flex-shrink: 0;
      position: absolute;
      right: 12px;
      top: calc(50% - 12px);
    }
  }

  .answer {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-right: 24px;
    line-height: 24px;
    color: #636363;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .spoiler {
    box-shadow: 0px 4px 20px #E0E4EF;
  }
  .question {
    font-size: 16px;
    line-height: 24px;
  }

  .answer {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 360px) {
  .spoiler {
    box-shadow: 0px 4px 20px #E0E4EF;
    padding: 12px 0 12px 12px;

    .question {
      font-size: 16px;
      line-height: 24px;
      padding-right: 36px;
      //font-size: 15px;

      &:after {
        right: 6px;
      }
    }

    .answer {
      font-size: 14px;
      line-height: 24px;
      padding-right: 12px;
    }
  }

}